html,
body {
  width: 100%;
  /* overflow-x: hidden; */
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* ----------- FONTZ------------- */

@font-face {
  font-family: 'Apfel Grotezk';
  font-weight: bold;
  src: url(fonts/ApfelGrotezk-Fett.otf);
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url(fonts/ApfelGrotezk-Regular.otf);
}

@font-face {
  font-family: 'KyivType Sans Heavy-';
  src: url(fonts/KyivType_Sans_Heavy.otf);
}

/* --------------------------------- */

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

.phonewrap {
  width: 100vw;
  height: 100vh;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.walkthru {
  position: absolute;
  top:10vh;
  left:4vw;
  width: 30vw;
}

span {
  font-family: 'KyivType Sans Heavy-';
  font-size:1.5vw;
}

p {
  font-family: 'Apfel Grotezk', sans-serif;
  font-size: 1.4vw;
  font-weight: normal;
  line-height: 1.8vw;
}

a {
  /* text-decoration: none; */
  color:inherit;
}

a:link {
  color:inherit;
}

a:visited {
  color:inherit;
}

a:hover {
  /* color:darkgrey; */
  font-weight: bold;
}

a:active {
  color:#1fffd4;
}


.phone {
  background-color: black;
  width: 250px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: none;
  /* display: flex; */
  border-left: 4px;
  border-right: 4px;
  border-top: 20px;
  border-bottom: 30px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  box-shadow:
    -3px -5px 7px 3px hsl(0deg 0% 100% / 56%),
    /* 3px 5px 25px 3px hsl(196deg 40% 35% / 15%), */
    6px 10px 22px -5px hsl(0deg 19% 35% / 20%),
    19px 19px 49px -11px hsl(31deg 17% 20% / 65%)
    ;

    /* -3px -5px 7px 3px hsl(0deg 0% 100% / 56%),
    3px 5px 10px 3px hsl(196deg 40% 35% / 15%),
    6px 10px 25px 6px hsl(0deg 18% 35% / 45%),
    10px 14px 30px 20px hsl(31deg 17% 20% / 12%) */

    /* 19px 19px 49px -11px hsl(31deg 17% 20% / 65%) */


    /* 6px 10px 16px 5px darkgrey,
    6px 10px 24px 15px darkgrey */
  /* h-offset v-offset blur spread color hsl(hue/deg saturation/% lightness/% / 0.opacity) */

}

.phone::-webkit-scrollbar {
  display: none;
}

img {
  /* display: block; */
  width: 242px;
}

#img1 {
  display: block;
}

#img2 {
  display: none;
}

#img3 {
  display: none;
}

#img4 {
  display: none;
}

#img5 {
  display: none;
}

/* --------------- MOBILE DEVICES ------------------ */
/*
@media screen and (min-width:0px) and (max-width:499px) {
 */
/* --------- LAPTOPS & MEDIUM DEVICES -------------- */
/*
@media screen and (min-width:500px) and (max-width:1399px) {
 */
/* ---------------- BIG DESKTOPS ------------------- */

@media screen and (min-width:1400px) and (max-width:6000px) {
  .phone {
    width: 355px;
    height: 750px;
    border-left: 8px;
    border-right: 8px;
    border-top: 35px;
    border-bottom: 55px;
    border-radius: 30px;
    border-style: solid;

  }
    img {
      width: 339px;
    }

}
