html,
body {
  width: 100%;
  /* overflow: auto; */
  overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------- FONTZ------------- */

@font-face {
  font-family: 'Apfel Grotezk';
  font-weight: bold;
  src: url(fonts/ApfelGrotezk-Fett.otf);
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url(fonts/ApfelGrotezk-Regular.otf);
}

@font-face {
  font-family: 'KyivType Sans Heavy-';
  src: url(fonts/KyivType_Sans_Heavy.otf);
}

/* --------------------------------- */

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

/* ↓ INCLUDE SCROLL ARROWS ON THE RIGHT SIDE OF THE PHONE */

.phonewrap {
  width: 100vw;
  height: 100vh;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  padding:10px;
  background: black;
  color: whitesmoke;
  font-family: 'Apfel Grotezk', sans-serif;
  font-size: 1.2vw;
  font-weight: normal;
  line-height: 1.4vw;
  border-radius: 100px;
  position: absolute;
  display: flex;
  top:10vh;
  left:4vw;
  width: auto;
}

.walkthru {
  position: absolute;
  top:20vh;
  left:4vw;
  width: 30vw;
}

.readmore {
  padding:10px;
  background: #1fffd4;
  border-radius: 100px;
  position: absolute;
  display: flex;
  top:10vh;
  left:66vw;
  width: auto;
}

.credits {
  position: absolute;
  top: 90vh;
  left: 75vw;
  /* display: flex; */
  font-family: 'Apfel Grotezk', sans-serif;
  font-style: normal;
  font-size: 1.2vw;
  color: darkgrey;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}



span {
  font-family: 'KyivType Sans Heavy-';
  font-size:1.5vw;
}

p {
  font-family: 'Apfel Grotezk', sans-serif;
  font-size: 1.4vw;
  font-weight: normal;
  line-height: 1.8vw;
}

a {
  /* text-decoration: none; */
  color:inherit;
}

a:link {
  color:inherit;
}

a:visited {
  color:inherit;
}

a:hover {
  /* color:darkgrey; */
  font-weight: bold;
}

a:active {
  color:#1fffd4;
}


.phone {
  background-color: black;
  width: 250px;
  height: 500px;
  /* overflow-y: scroll; */
  /* overflow-x: none; */
  overflow: overlay;
  /* display: flex; */
  border-left: 4px;
  border-right: 4px;
  border-top: 20px;
  border-bottom: 30px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  box-shadow:
    -3px -5px 7px 3px hsl(0deg 0% 100% / 56%),
    6px 10px 22px -5px hsl(0deg 19% 35% / 20%),
    19px 19px 49px -11px hsl(31deg 17% 20% / 65%);
}

.phone::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0,0,0,0);
}

.phone::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.4);
  /* background-color: rgba(0,225,200,0.4); */
}


img {
  /* display: block; */
  width: 242px;
}

#img0 {
  display: block;
}

#img1 {
  display: none;
}

#img2 {
  display: none;
}

#img3 {
  display: none;
}

#img4 {
  display: none;
}

#img5 {
  display: none;
}

/* --------------- MOBILE DEVICES ------------------ */

@media screen and (min-width:0px) and (max-width:499px) {

  .wrapper {
    height: auto;
    overflow-x: hidden;
  }

  .walkthru {
    position: relative;
    top: 4vh;
    left: 6vw;
    width: 86vw;
  }

  p {
    font-size: 3.4vw;
    line-height: 3.6vw;
  }

  span {
    font-size:3.5vw;
  }

}

/* --------- LAPTOPS & MEDIUM DEVICES -------------- */
/*
@media screen and (min-width:500px) and (max-width:1399px) {

}
 */
/* ---------------- BIG DESKTOPS ------------------- */

@media screen and (min-width:1400px) and (max-width:6000px) {
  .phone {
    width: 355px;
    height: 750px;
    border-left: 8px;
    border-right: 8px;
    border-top: 35px;
    border-bottom: 55px;
    border-radius: 30px;
    border-style: solid;

  }
    img {
      width: 339px;
    }

}
