html,
body {
  width: 100%;
  /* overflow-x: hidden; */
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* ----------- FONTZ------------- */

@font-face {
  font-family: 'Apfel Grotezk';
  font-weight: bold;
  src: url(fonts/ApfelGrotezk-Fett.otf);
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url(fonts/ApfelGrotezk-Regular.otf);
}

/* --------------------------------- */

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
}

.phonewrap {
  width: 100vw;
  height: 100vh;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.walkthru {
  position: absolute;
  top:10vh;
  left:4vw;
  width: 30vw;
}

p {
  font-family: 'Apfel Grotezk', sans-serif;
  font-size: 1.4vw;
  font-weight: normal;
}

.phone {
  background-color: black;
  width: 250px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: none;
  /* display: flex; */
  border-left: 4px;
  border-right: 4px;
  border-top: 20px;
  border-bottom: 30px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  box-shadow: 6px 10px 16px 5px darkgrey;
  /* h-offset v-offset blur spread color */

}

.phone::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  width: 242px;
}

@media screen and (min-width:1400px) and (max-width:6000px) {
  .phone {
    width: 355px;
    height: 750px;
    border-left: 8px;
    border-right: 8px;
    border-top: 35px;
    border-bottom: 55px;
    border-radius: 30px;
    border-style: solid;
    box-shadow: 6px 10px 16px 5px darkgrey;
  }
    img {
      width: 339px;
    }
}
